/* Start - header-two */
.header-two{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;      
}
.header-two .blur-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../images/photo-one.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover; 
    filter: blur(5px);
} 
/* End - header-two */