/* Start - header-one */
.header-one{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../images/photo-one.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;    
}
/* End - header-one */